name: Build and Release
on:
  workflow_dispatch:
  push:
    branches:
      - "main"

permissions:
  contents: write
  pull-requests: write
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    name: Build image
    runs-on: ubuntu-latest
    outputs:
      meta-tag: ${{ steps.meta.outputs.tags }}
    steps:
      - id: repository_string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ steps.repository_string.outputs.lowercase }}:${{ github.sha }}
  release-production:
    name: Release Production
    environment: prod
    needs: [build-and-push]
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - id: repository_string
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: cschleiden/replace-tokens@v1
        name: Replace tokens in manifest
        with:
          files: "./k8s/manifest.yml"
        env:
          Namespace: remote-falcon
          Application: remote-falcon-control-panel
          Version: ${{ github.sha }}
          Env: prod
          Replicas: 1
          Image: ${{ env.REGISTRY }}/${{ steps.repository_string.outputs.lowercase }}:${{ github.sha }}
          Requests.Memory: 256Mi
          Requests.CPU: 100m
          Limits.Memory: 512Mi
          Limits.CPU: 500m
          Host: remotefalcon.com

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Save DigitalOcean kubeconfig
        run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 ad868632-49dd-4c78-b8dc-52ad07c3b8f6

      - name: Kubectl apply
        run: kubectl apply -f ./k8s/manifest.yml

      - name: Kubectl rollout monitor
        run: kubectl rollout status deployment remote-falcon-control-panel --namespace remote-falcon
